@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

body {
  font-family: "Montserrat", sans-serif;
  font-size: 150%;
  margin: 3rem;
}

main {
  max-width: 40rem;
  margin: 0 auto;
}

a {
  color: #3498db;
  font-weight: bold;
}

a:hover {
  color: #3498db;
}