@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700;900&display=swap');

:root {
  --font: 'Urbanist', sans-serif;
  --background: #ecf0f1;
  --text-primary: #222;
  --text-accent: #f39c12;
}

html {
  box-sizing: border-box;
  font-size: 150%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 1rem;
  font-family: var(--font);
  line-height: 1.75rem;
  background: var(--background);
  color: var(--text-primary);
}

main {
  max-width: 500px;
  margin: 100px auto;
  text-align: center;
}

a {
  color: var(--text-accent);
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  border: 1px solid var(--text-accent);
}