@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700;900&display=swap');

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 150%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: "Roboto Slab", serif;
  line-height: 1.5;
  background-image: linear-gradient(rgba(255,255,255,1) 35%, rgba(255,255,255,0)), url(https://pleasing-pattern-generator.glitch.me/?background=ecf0f1&colors=1abc9c&shapes=exes&style=fill&count=100);
  background-size: cover, cover;
  background-position: top center, center center;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

h1 {
  font-weight: 900;
  font-size: 3rem;
  line-height: 2rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

input {
  border: none;
  border-bottom: 4px solid #999999;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  color: #1abc9c;
}

input:focus {
  outline: none;
}

.content {
  position: relative;
  width: 666px;
  max-width: 90vw;
  margin: 200px auto;
}

.question {
  text-align: center;
}

.answer {
  position: relative;
  width: 100%;
  padding: 1rem 2rem;
  background: rgba(255,255,255,1);
  border-radius: 2rem;
}

.changed {
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 1rem;
  color: #1abc9c;
  padding: 0 0.1rem;
}