body {
    background-color: whitesmoke;
    color: black;
    font-family: monospace;
    font-size: 110%;
    margin: 2rem;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 100vh;
}

section {
    flex: 1;
    padding-bottom: 2rem;
}

li {
    margin-bottom: 1rem;
}

a {
    color: darkslategray;
}

a:hover, a:active {
    color: slategray
}

a:visited {
    color: darkslateblue;
}

h1, h2 {
    color: darkslateblue;
    font-family: sans-serif;
}