name: Publish content

on:
    push:
        branches: ["main"]

    workflow_dispatch:

permissions:
    contents: write
    pages: write
    id-token: write

concurrency:
    group: "pages"
    cancel-in-progress: false

jobs:
    blog:
        environment:
            name: github-pages
        if: ${{ ! endsWith(github.actor, '[bot]') }}
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Convert new Markdown to HTML
              id: files
              run: |
                  FILES=$(ls -1 read/*.md)
                  for i in $FILES; do
                    FILENAME=$(echo $i | cut -d . -f 1)
                    FILEPATH="$FILENAME/index.html"
                    TEMPFILE="$FILENAME/temp.html"
                    # Skip already-created files
                    if test -f "$FILEPATH"; then
                        continue
                    else
                        mkdir $FILENAME
                        touch $FILEPATH
                        touch $TEMPFILE
                        echo $(cat $i) > $TEMPFILE
                        IFS=''
                        # Heading 3
                        echo "$(sed -r 's/^\#\#\# (.*)$/\<h3\>\1\<\/h3\>/g' $TEMPFILE)" > $TEMPFILE
                        # Heading 2
                        echo "$(sed -r 's/^\#\# (.*)$/\<h2\>\<a href=\"\#\1\"\>\1\<\/a\>\<\/h2\>/g' $TEMPFILE)" > $TEMPFILE
                        # Heading 1
                        echo "$(sed -r 's/^\# (.*)$/\<h1\>\1\<\/h1\>/g' $TEMPFILE)" > $TEMPFILE
                        # Bold text
                        echo "$(sed -r 's/\*\*(.*)\*\*/\<b\>\1\<\/b\>/g' $TEMPFILE)" > $TEMPFILE
                        # Italic text
                        echo "$(sed -r 's/\*(.*)\*/\<i\>\1\<\/i\>/g' $TEMPFILE)" > $TEMPFILE
                        # Italic text
                        echo "$(sed -r 's/\_(.*)\_/\<i\>\1\<\/i\>/g' $TEMPFILE)" > $TEMPFILE
                        # Images
                        echo "$(perl -pe 's/\!\[([^\]]*)\]\(([^\)]+)\)/\<img alt=\"$1\" src=\"$2\" \/\>/g' $TEMPFILE)" > $TEMPFILE
                        # Links
                        echo "$(perl -pe 's/\[([^\]]+)\]\(([^\)]+)\)/\<a href=\"$2\"\>$1\<\/a\>/g' $TEMPFILE)" > $TEMPFILE
                        # Paragraphs
                        echo "$(sed -r 's/^([^\<h].*)$/\<p\>\1\<\/p\>/g' $TEMPFILE)" > $TEMPFILE

                        # Append to RSS
                        TITLE=$(head -1 $i)
                        touch tempRSS.xml
                        echo $(head -n -2 read/rss.xml) > tempRSS.xml
                        echo "<item><title>${TITLE:2}</title><link>https://aTylerRobertson.com/$FILENAME</link><description><![CDATA[" >> tempRSS.xml
                        echo $(cat $TEMPFILE) >> tempRSS.xml
                        echo "]]></description><pubDate>$(date +"%D %T")</pubDate><guid>https://aTylerRobertson.com/$FILENAME</guid></item>" >> tempRSS.xml
                        echo "</channel>" >> tempRSS.xml
                        echo "</rss>" >> tempRSS.xml
                        echo $(cat tempRSS.xml) > read/rss.xml
                        rm tempRSS.xml
                        git add read/rss.xml

                        # Make the output file and write to it
                        cat .github/template/postFooter.html >> $TEMPFILE
                        echo $(cat .github/template/postHeader.html) | cat - $TEMPFILE > $TEMPFILE
                        echo "$(sed -r 's/\<title\>.*\<\/title\>/\<title\>${TITLE:2}\<\/title\>/' $TEMPFILE)" > $FILEPATH
                        rm $TEMPFILE

                        git config --local user.email "action@github.com"
                        git config --local user.name "github-actions"
                        git add $FILEPATH
                        git commit -m "Publish post \"$FILENAME\""
                        git push --force
                    fi
                  done
            - name: Setup Pages
              if: always()
              uses: actions/configure-pages@v5
            - name: Upload artifact
              if: always()
              uses: actions/upload-pages-artifact@v3
              with:
                  # Upload entire repository
                  path: "."
            - name: Deploy to GitHub Pages
              if: always()
              uses: actions/deploy-pages@v4
