name: Deploy content to Pages

on:
    push:
        branches: ["main"]

    workflow_dispatch:

permissions:
    contents: write
    pages: write
    id-token: write

concurrency:
    group: "pages"
    cancel-in-progress: false

jobs:
    deploy:
        if: ${{ ! endsWith(github.actor, '[bot]') }}
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Markdown files to HTML
              run: |
                  FILELIST=$(ls -1 read/*.md)
                  for i in $FILELIST; do
                      FILENAME=$(echo $i | cut -d . -f 1)
                      FILEPATH="read/$FILENAME/index.html"
                      # Skip already-created files
                      if test -f "$FILEPATH"; then
                        continue
                      fi
                      IFS=''
                      cat .github/template/postHeader.html > $FILEPATH
                      # Heading 3
                      echo "$(sed -r 's/^\#\#\# (.*)$/\<h3\>\1\<\/h3\>/' $FILEPATH)" > $FILEPATH
                      # Heading 2
                      echo "$(sed -r 's/^\#\# (.*)$/\<h2\>\<a href=\"\#\1\"\>\1\<\/a\>\<\/h2\>/' $FILEPATH)" > $FILEPATH
                      # Heading 1
                      echo "$(sed -r 's/^\# (.*)$/\<h1\>\<a href=\"\#\1\"\>\1\<\/a\>\<\/h1\>/' $FILEPATH)" > $FILEPATH
                      # Bold text
                      echo "$(sed -r 's/\*\*(.*)\*\*/\<b\>\1\<\/b\>/' $FILEPATH)" > $FILEPATH
                      # Italic text
                      echo "$(sed -r 's/\*(.*)\*/\<i\>\1\<\/i\>/' $FILEPATH)" > $FILEPATH
                      # Italic text
                      echo "$(sed -r 's/\_(.*)\_/\<i\>\1\<\/i\>/' $FILEPATH)" > $FILEPATH
                      # Links
                      echo "$(sed -r 's/\[(.*)\]\((.*)\)/\<a href=\"\2\"\>\1\<\/a\>/' $FILEPATH)" > $FILEPATH
                      # Paragraphs
                      echo "$(sed -r 's/^([^\<h].*)$/\<p\>\1\<\/p\>/' $FILEPATH)" > $FILEPATH
                      cat ./github/template/footer.html >> $FILEPATH
                  done
            - name: Commit HTML to repo
              run: |
                  git config --local user.email "action@github.com"
                  git config --local user.name "github-actions"
                  git add read/
                  git commit -m "Markdown file(s) to HTML"
                  git push --force
