name: Bloggify me, captain!

on:
    push:
        branches: ["main"]

    workflow_dispatch:

permissions:
    contents: write
    pages: write
    id-token: write

concurrency:
    group: "pages"
    cancel-in-progress: false

jobs:
    blog:
        environment:
            name: github-pages
        if: ${{ ! endsWith(github.actor, '[bot]') }}
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Convert new Markdown to HTML
              id: files
              run: |
                  FILES=$(ls -1 read/*.md)
                  for i in $FILES; do
                    FILENAME=$(echo $i | cut -d . -f 1)
                    FILEPATH="$FILENAME/index.html"
                    TEMPFILE="temp.html"
                    # Skip already-created files
                    if test -f "$FILEPATH"; then
                        continue
                    else
                        touch $TEMPFILE
                        cat $i > $TEMPFILE
                        IFS=''
                        # Heading 3
                        echo "$(sed -r 's/^\#\#\# (.*)$/\<h3\>\1\<\/h3\>/' $TEMPFILE)" > $TEMPFILE
                        # Heading 2
                        echo "$(sed -r 's/^\#\# (.*)$/\<h2\>\<a href=\"\#\1\"\>\1\<\/a\>\<\/h2\>/' $TEMPFILE)" > $TEMPFILE
                        # Heading 1
                        echo "$(sed -r 's/^\# (.*)$/\<h1\>\1\<\/h1\>/' $TEMPFILE)" > $TEMPFILE
                        # Bold text
                        echo "$(sed -r 's/\*\*(.*)\*\*/\<b\>\1\<\/b\>/' $TEMPFILE)" > $TEMPFILE
                        # Italic text
                        echo "$(sed -r 's/\*(.*)\*/\<i\>\1\<\/i\>/' $TEMPFILE)" > $TEMPFILE
                        # Italic text
                        echo "$(sed -r 's/\_(.*)\_/\<i\>\1\<\/i\>/' $TEMPFILE)" > $TEMPFILE
                        # Images
                        echo "$(sed -r 's/\!\[(.*)\]\((.*)\)/\<img alt=\"\1\" src=\"\2\" \/\>/' $TEMPFILE)" > $TEMPFILE
                        # Links
                        echo "$(sed -r 's/\[(.*)\]\((.*)\)/\<a href=\"\2\"\>\1\<\/a\>/' $TEMPFILE)" > $TEMPFILE
                        # Paragraphs
                        echo "$(sed -r 's/^([^\<h].*)$/\<p\>\1\<\/p\>/' $TEMPFILE)" > $TEMPFILE

                        # Append to RSS
                        TITLE=$(head -1 $i)
                        touch tempRSS.xml
                        echo $(head -n -2 read/rss.xml) > tempRSS.xml
                        echo "<item><title>${TITLE:2}</title><link>https://aTylerRobertson/$FILENAME</link><description><![CDATA[" >> tempRSS.xml
                        echo $(cat $TEMPFILE) >> tempRSS.xml
                        echo "]]></description><pubDate>$(date +"%D %T")</pubDate><guid></guid></item>" >> tempRSS.xml
                        echo "</channel>" >> tempRSS.xml
                        echo "</rss>" >> tempRSS.xml
                        echo $(cat tempRSS.xml) > read/rss.xml
                        rm tempRSS.xml

                        # Make the output file and write to it
                        mkdir $FILENAME
                        touch $FILEPATH
                        echo $(cat .github/template/postHeader.html) | cat - $TEMPFILE > $FILEPATH
                        cat .github/template/postFooter.html >> $TEMPFILE
                        rm $TEMPFILE
                    fi
                  done
            - name: Commit HTML to repo
              run: |
                  git config --local user.email "action@github.com"
                  git config --local user.name "github-actions"
                  git add read/
                  git commit -m "Markdown file(s) to HTML"
                  git push --force
            - name: Setup Pages
              uses: actions/configure-pages@v5
            - name: Upload artifact
              uses: actions/upload-pages-artifact@v3
              with:
                  # Upload entire repository
                  path: "."
            - name: Deploy to GitHub Pages
              uses: actions/deploy-pages@v4
